[Desktop Entry]
Name= KiTeecoin Core
Comment=Connect to the KiTeecoin P2P Network
Comment[de]=Verbinde mit dem KiTeecoin peer-to-peer Netzwerk
Comment[fr]=KiTeecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KiTeecoin, eşten eşe kriptografik sanal para birimi
Exec=KiTeecoin-qt %u
Terminal=false
Type=Application
Icon=KiTeecoin128
MimeType=x-scheme-handler/KiTeecoin;
Categories=Office;Finance;
